<p>
    <h1><%= title %></h1>
    <hr>
</p>

<ul class="nav nav-tabs">
    <li>
        <%= link_to "Recipes", recipes_path %>
    </li>
    <li class="active">
        <%= link_to "Users", users_path %>
    </li>
</ul>
