$navbar-default-bg: #f56c50;
$light-orange: #FF5F6D;



@import "bootstrap-sprockets";
@import "bootstrap";

// body {
//   padding-top: 90px;
// }

#logo {
  margin: 10px 10px;
  float: left;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

.nav_item {
  margin: 35px 0 0 25px;
  float: left;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
  letter-spacing: -1px;
}

h1{
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  
}

div.jumbotron {
  background: #FF5F6D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left {
  text-align: left;
  letter-spacing: 0.5px;
}
 hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.search {
  float: right;
  margin: 25px 0 0 25px;
}




div.info{
  margin: 5px 20px 5px 20px; 
  border-radius: 18px;
  border: 2px solid #73AD21;
  padding: 5px 20px 5px 20px; 
  
  
}

// div.col-lg-3{
//     border-radius: 25px;
//     border: 2px solid #73AD21;
//     padding: 0 20px;
//     display: inline-block;
//     text-align: center
//     margin: 10px 50px;
// }




