$navbar-default-bg: #f56c50;
$light-orange: #FF5F6D;



@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// body {
//   padding-top: 90px;
// }

#logo {
  margin: 10px 10px;
  float: left;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

.nav_item {
  margin: 35px 0 0 25px;
  float: left;
}

.nav_ul_item {
  list-style-type: none;
  margin: 35px 0 0 15px;
  float: left;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
  letter-spacing: -1px;
}

h1{
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  
}

div.jumbotron {
  background: #FF5F6D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// breadcrumb
nav.breadcrumb {
  padding: 2px 2px 0px 2px;
}

.left {
  text-align: left;
  letter-spacing: 0.5px;
}
 hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.search {
  float: right;
  margin: 25px 0 0 25px;
}

// gravatar 
.chef_info_center {
  margin-top: 20px;
  overflow: hidden;
}
.gravatar {
  border-radius: 100px;
}

// footer
.footer-distributed{ background-color:#f56c50;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); box-sizing: border-box;
width: 100%;
font: bold 16px;
text-align: left;
padding: 20px 30px 10px 30px; margin-top: 20px; overflow: hidden;
}
/* Footer left */ .footer-distributed .footer-left{
float: left; }
/* The company logo */
.footer-distributed h3{ color: #ffffff;
margin: 0 0 10px; }

 .footer-distributed h3 span{ color: #5383d3;
}
/* Footer links */ .footer-distributed .footer-links{
color: #ffffff; margin: 0 0 10px; padding: 0;
}
.footer-distributed .footer-links a{ display:block;
line-height: 1.5; text-decoration: none; color: inherit;
font-size: 12px;
}
.footer-distributed .footer-links a:hover{
text-decoration: underline;
}
.footer-distributed .footer-company-name{ color: black;
font-size: 11px; font-weight: normal; margin: 0;
}
/* Footer social icons */
.footer-distributed .footer-icons{ margin-top: 40px;
}
.footer-distributed .footer-icons a{ display: inline-block;
width: 35px;
height: 35px;
cursor: pointer; background-color: #00cc00; border-radius: 2px;
font-size: 20px; color: #ffffff; text-align: center; line-height: 35px;
margin-right: 3px;
margin-bottom: 5px; }
/* Footer Right */
.footer-distributed .footer-right{ float: right;
 }
 .footer-distributed .footer-icons a:hover{
background-color: #ffffff;
color:#33383b;
 }
.footer-distributed .footer-right p{ display: inline-block;
vertical-align: top; margin: 15px 42px 0 0; color: #ffffff;
}
/* The contact form */ .footer-distributed form{
display: inline-block; }
.footer-distributed form input, .footer-distributed form textarea{
display: block;
border-radius: 3px;
box-sizing: border-box;
background-color: white;
box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1); border: none;
resize: none;
font: inherit; font-size: 14px; font-weight: normal; color: #696969;
width: 400px;
padding: 5px; }
.footer-distributed ::-webkit-input-placeholder { color: #5c666b;
}
.footer-distributed ::-moz-placeholder { color: #5c666b;
opacity: 1; }
.footer-distributed :-ms-input-placeholder{ color: #5c666b;
}
.footer-distributed form input{ height: 55px;
margin-bottom: 15px; }

 .footer-distributed form textarea{ height: 100px;
margin-bottom: 20px; }
// .footer-distributed form button{ border-radius: 3px;
// background-color: #33383b; color: #ffffff;
// border: 0;
// padding: 15px 50px; font-weight: bold;
// float: right; }
/* If you don't want the footer to be responsive, remove these media queries */ @media (max-width: 1000px) {
.footer-distributed {
font: bold 14px;
}
.footer-distributed .footer-company-name{ font-size: 10px;
}
.footer-distributed form input, .footer-distributed form textarea{
width: 250px; }
.footer-distributed form button{ padding: 10px 35px;
} }
@media (max-width: 800px) {
.footer-distributed{ padding: 30px;
}
.footer-distributed .footer-left, .footer-distributed .footer-right{
float: none; max-width: 300px; margin: 0 auto;
}
.footer-distributed .footer-left{ margin-bottom: 40px;

}
.footer-distributed form{ margin-top: 30px;
}
.footer-distributed form{ display: block;
}
.footer-distributed form button{ float: none;
} }
// new recipe page 
.well {
  background-color: rgba( 245,108,80, 0.2);
}

input, textarea, select, .uneditable-input {
  border: 1px solid rgb(245,108,80);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}
input{
  height: auto !important;
}
// form 
span.picture {
  margin-top:10px;


}
.show_recipe {
  margin: 10px 10px;
}
.uploaded {
    width: 60%;
    height: 60%;
}