@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@mixin box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) -3px 3px 2px;
}
body {
    font-family: 'Doppio One', sans-serif;
    padding-top: 100px;
}
// Navigation
.navbar-inverse {
    border-radius: 0;
}
#home {
    border-radius: 40px;
}
#logo {
    margin: 5px 10px;
    float: left;
    color: #fff;
}
#search-button {
    width: 100px;
    margin-top: -11px;
}
.sloppy-fix {
    margin-bottom: -16px;
} //nav
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.center {
    text-align: center;
}
h1,
h2,
h3,
h4 {
    line-height: 1;
    letter-spacing: -1px;
}
h1 {
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
// parrallax
.bird-box {
    position: relative;
    height: 700px;
    background-image: url('./cooking.jpg');
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: -50px;
    margin-right: -20px;
}
.logo {
    height: 100px;
    width: 100%;
    background-image: url('./A&K.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
// parrallax2 
.bird-box2 {
    position: relative;
    height: 700px;
    background-image: url('https://i.ytimg.com/vi/m2hm9aqS844/maxresdefault.jpg');
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: -50px;
    margin-right: -20px;
}
div.jumbotron {
    background: #FF5F6D;
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to left, #FF5F6D, #FFC371);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
// breadcrumb
nav.breadcrumb {
    padding: 2px 2px 0px 2px;
}
.left {
    text-align: left;
    letter-spacing: 0.5px;
}
// show recipes 
// gravatar 
.chef_info_center {
    margin-top: 20px;
    overflow: hidden;
}
.col-md-4 pull-right center {
    width: 40%;
}
.gravatar {
    border-radius: 100px;
    max-width: 300px;
    width: 50%;
}
#show-recipe {
    border: none;
    border-radius: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    background-image: url('./paper.jpg');
    color: #434343;
    padding-bottom: 35px;
}
.well {
    padding: 30px;
}
// carousel
.carousel-img {
    min-height: 300px;
    height: 100px;
    width: 100%;
}
.item {
    min-height: 300px;
    height: 100%;
}
// new recipe page 
input,
textarea,
select,
.uneditable-input {
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}
input {
    height: auto !important;
}
// form 
span.picture {
    margin-top: 10px;
}
.input_checkbox input {
    width: auto !important;
}
.show_recipe {
    margin: 10px 10px;
}
.uploaded {
    width: 60%;
    height: 60%;
}
#food-image {
    width: 85%;
    height: 85%;
    border-radius: 50px;
}
.btn-warning {
    margin-bottom: 10px;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}
.alert-alert,
#error_explanation {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    text-align: left;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}
#error_explanation {
    padding: 15px 15px 15px 30px;
    margin-bottom: 30px;
}
#workout-details {
    display: block!important;
    padding-top: 30px;
    border: 1px solid black;
}
.show-img {
    background: white;
    border-radius: 5px;
    margin: 5px 5px 40px 5px;
    @include box-shadow;
    .image_wrapper {
        max-width: 100px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }
    img {
        width: 100%;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        &:hover {
            transform: scale(1.075);
        }
    }
}
// mailbox 
.spacer {
    margin-top: 20px;
}
// other
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
// new session form
.form-new {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    padding-top: 30px;
    width: 350px;
    margin: 100px auto;
    box-shadow: 15px 15px 0px rgba(0, 0, 0, .2);
}
.login {
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 24px;
}
.login-bg {
    margin-top: -50px;
    margin-bottom: -50px;
    background: #43cea2;
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(to left, #43cea2, #185a9d);
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to left, #43cea2, #185a9d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.signup-bg {
    margin-top: -50px;
    margin-bottom: -50px;
    background: #DCE35B;
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(to left, #DCE35B, #45B649);
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to left, #DCE35B, #45B649);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.tw {
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    background: #00b8ff;
    box-shadow: 0px 3px 0px #008dc3;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
}
.social {
    display: none;
}
.h9 {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    color: #777;
    cursor: pointer;
}
.tw a {
    color: white;
}
p.workout-summary {
    color: white;
}
// footer
.footer-distributed {
    background-color: #101010;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px;
    text-align: left;
    padding: 20px 30px 10px 30px;
    overflow: hidden;
}
/* Footer left */

.footer-distributed .footer-left {
    float: left;
}
/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    margin: 0 0 10px;
}
.footer-distributed h3 span {
    color: #5383d3;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: block;
    line-height: 1.5;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}
.footer-distributed .footer-links a:hover {
    text-decoration: underline;
}
.footer-distributed .footer-company-name {
    color: black;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}
/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #00cc00;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}
.footer-distributed .footer-icons a:hover {
    background-color: #ffffff;
    color: #33383b;
}
.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}
@media (max-width: 1000px) {
    .footer-distributed {
        font: bold 14px;
    }
    .footer-distributed .footer-company-name {
        font-size: 10px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }
    .footer-distributed form button {
        padding: 10px 35px;
    }
}
@media (max-width: 800px) {
    .footer-distributed {
        padding: 30px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }
    .footer-distributed form {
        margin-top: 30px;
    }
    .footer-distributed form {
        display: block;
    }
    .footer-distributed form button {
        float: none;
    }
}
// media queries 
@media (max-width: 800px) {
    ol {
        text-align: center;
    }
}
@media (max-width: 980px) {
    .input-group {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar-form {
        display: inline-block !important;
    }
}
.social-share-button .ssb-icon {
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}
.reviews {
    padding-top:100px;
}