</div>
<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
    <li data-target="#carousel-example" data-slide-to="3"></li>
    <li data-target="#carousel-example" data-slide-to="4"></li>
    <li data-target="#carousel-example" data-slide-to="5"></li>
    <li data-target="#carousel-example" data-slide-to="6"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active ">
      <a href="https://aandklabs.com/products/a-k-build-hgh-support"><img class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-build-20042387720_1024x1024.png?v=1490941933" /></a>
      <div class="carousel-caption">
        <h3>A&K's Build</h3>
        <p>HGH support supplement to boost growth hormone production naturally</p>
      </div>
    </div>
    <div class="item">
      <a href="https://aandklabs.com/products/a-ks-complete"><img class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-complete-20042802440_1024x1024.png?v=1490941946" /></a>
      <div class="carousel-caption">
        <h3>A&K's - Complete</h3>
        <p>Complete is a no-nonsense multi-vitamin packed full of essential nutrients </p>
      </div>
    </div>
    <div class="item">
      <a href="https://aandklabs.com/products/drive"><img class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-drive-20042601096_1024x1024.png?v=1490941947" /></a>
      <div class="carousel-caption">
        <h3>A&K's Drive</h3>
        <p>Natural pre-workout supplement to help acheive better workouts and quicker gains</p>
      </div>
    </div>
        <div class="item">
      <a href="https://aandklabs.com/products/joint-guardian"><img class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-guardian-20042515784_1024x1024.png?v=1490941949" /></a>
      <div class="carousel-caption">
        <h3>A&K's Guardian</h3>
        <p>A joint health supplement to maintain healthy joints after long workouts</p>
      </div>
    </div>
        <div class="item">
      <a href="https://aandklabs.com/products/a-k-sleeptight"><img class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-sleeptight-20042628488_1024x1024.png?v=1490941969" /></a>
      <div class="carousel-caption">
        <h3>A&K's Sleeptight</h3>
        <p>A formulation to achieve better nights sleep and quicker recovery</p>
      </div>
    </div>
        <div class="item">
      <a href="https://aandklabs.com/products/trident"><img class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-trident-20042833224_1024x1024.png?v=1490941990" /></a>
      <div class="carousel-caption">
        <h3>A&K's Trident</h3>
        <p>Three creatine varieties packed into a daily dose to get the full benefits of the staple supplement.</p>
      </div>
    </div>
        <div class="item">
      <a href="https://aandklabs.com/products/a-ks-slimtech"><img  class="carousel-img" src="https://cdn.shopify.com/s/files/1/1760/5549/products/a-and-k-labs-supplement-a-k-s-slimtech-20042568328_1024x1024.png?v=1490941961" /></a>
      <div class="carousel-caption">
        <h3>A&K's Slimtech</h3>
        <p>A non-stimulant based fat burner to help get the most out of your diet and exercise</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>