<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
    <li data-target="#carousel-example" data-slide-to="3"></li>
    <li data-target="#carousel-example" data-slide-to="4"></li>
    <li data-target="#carousel-example" data-slide-to="5"></li>
    <li data-target="#carousel-example" data-slide-to="6"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active ">
      <a href="#"><img class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Product 1</h3>
        <p>name, short desc.</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Product 2</h3>
        <p>name, short desc.</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Product 3</h3>
        <p>name, short desc.</p>
      </div>
    </div>
        <div class="item">
      <a href="#"><img class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>product 4</h3>
        <p>name, short desc.</p>
      </div>
    </div>
        <div class="item">
      <a href="#"><img class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Product 5</h3>
        <p>name, short desc.</p>
      </div>
    </div>
        <div class="item">
      <a href="#"><img class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Product 6</h3>
        <p>name, short desc.</p>
      </div>
    </div>
        <div class="item">
      <a href="#"><img  class="carousel-img" src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>product 7</h3>
        <p>name, short desc.</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>