
<footer class="footer-distributed">
<div class="footer-left"> 
    <h3>A & K LABS<span>logo</span></h3> 
    <p class="footer-links">
    <%= link_to "Home", root_path %>
    <a href="#">Blog</a>
    <a href="http://www.aandklabs.com/">Supplement Store</a> 
    <%= link_to "About", about_path %>
    <%= link_to "FAQ's", faq_path %>
</p>

    <div class="footer-icons">
        <a href="https://www.facebook.com/AandKLAB/"><i class="fa fa-facebook"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div> 
<p class="footer-company-name">A & K LABS &copy; 2016</p> 
</div>
</footer>
