<!--  <header class="navbar navbar-fixed-top navbar-default">-->
<!--    <div class="container-fluid">-->
<!--      -->

<!--    </div>-->
<!--  </header>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo">
      <%= link_to "myRecipes", "", class: "btn btn-success btn-lg",  id: "logo" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <div class="nav_item">
        <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
        <%= link_to "link 2", "", class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
        <%= link_to "link 3", "", class: "btn btn-default btn-warning" %>
      </div>
      </ul>
      <div class="search">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-warning">Submit</button>
      </form>
      </div>
    </div><!-- /.navbar-collase -->
  </div><!-- /.contaner-fluid -->
</nav>